<device>
	<fullConfig>true</fullConfig>
	<sshUserId>admin</sshUserId>
	<sshPassword>admin</sshPassword>
	<deviceProtocol>SIP</deviceProtocol>
	<devicePool>
		<name></name>
		<dateTimeSetting>
			<dateTemplate>D.M.Y</dateTemplate>
			<timeZone>Europe/Moscow</timeZone>
			<ntps>
				<ntp>
					<name>192.168.160.3</name>
					<ntpMode>Unicast</ntpMode>
				</ntp>
			</ntps>
		</dateTimeSetting>
		<callManagerGroup>
			<name>CallManager</name>
			<tftpDefault>true</tftpDefault>
			<members>
				<member priority="0">
					<callManager>
						<name>CallManager</name>
						<description>FreePBX + Asterisk</description>
						<ports>
							<sipPort>5060</sipPort>
							<securedSipPort>5061</securedSipPort>
							<ethernetPhonePort>2000</ethernetPhonePort>
								<mgcpPorts>
									<listen>2427</listen>
									<keepAlive>2428</keepAlive>
								</mgcpPorts>
						</ports>
						<processNodeName>$telAsteriskHost</processNodeName>
					</callManager>
				</member>
			</members>
		</callManagerGroup>
		<mlppDomainId>-1</mlppDomainId>
		<mlppIndicationStatus>Default</mlppIndicationStatus>
		<connectionMonitorDuration>120</connectionMonitorDuration>
	</devicePool>
	<userLocale>
		<name>Russian_Federation</name> 
		<uid></uid> 
		<langCode>ru_RU</langCode> 
		<version>8.4.3.1000-1</version> 
		<winCharSet>utf-8</winCharSet>
	</userLocale>
	<networkLocale>Russian_Federation</networkLocale> 
	<networkLocaleInfo> 
		<name>Russian_Federation</name> 
		<version>8.4.3.1000-1</version>
	</networkLocaleInfo>
	<sipProfile>
		<sipProxies>
			<backupProxy></backupProxy>
			<backupProxyPort>5060</backupProxyPort>
			<emergencyProxy></emergencyProxy>
			<emergencyProxyPort>5060</emergencyProxyPort>
			<outboundProxy></outboundProxy>
			<outboundProxyPort>5060</outboundProxyPort>
			<registerWithProxy>true</registerWithProxy>
		</sipProxies>
		<sipCallFeatures>
			<cnfJoinEnabled>true</cnfJoinEnabled>
			<callForwardURI>x-cisco-serviceuri-cfwdall</callForwardURI>
			<callPickupURI>x-cisco-serviceuri-pickup</callPickupURI>
			<callPickupListURI>x-cisco-serviceuri-opickup</callPickupListURI>
			<callPickupGroupURI>x-cisco-serviceuri-gpickup</callPickupGroupURI>
			<meetMeServiceURI>x-cisco-serviceuri-meetme</meetMeServiceURI>
			<abbreviatedDialURI>x-cisco-serviceuri-abbrdial</abbreviatedDialURI>
			<rfc2543Hold>false</rfc2543Hold>
			<callHoldRingback>2</callHoldRingback>
			<localCfwdEnable>true</localCfwdEnable>
			<semiAttendedTransfer>true</semiAttendedTransfer>
			<anonymousCallBlock>2</anonymousCallBlock>
			<callerIdBlocking>2</callerIdBlocking>
			<dndControl>1</dndControl>
			<remoteCcEnable>true</remoteCcEnable>
		</sipCallFeatures>
		<sipStack>
			<sipInviteRetx>6</sipInviteRetx>
			<sipRetx>10</sipRetx>
			<timerInviteExpires>504</timerInviteExpires>
			<timerRegisterExpires>3600</timerRegisterExpires>
			<timerRegisterDelta>5</timerRegisterDelta>
			<timerKeepAliveExpires>120</timerKeepAliveExpires>
			<timerSubscribeExpires>120</timerSubscribeExpires>
			<timerSubscribeDelta>5</timerSubscribeDelta>
			<timerT1>500</timerT1>
			<timerT2>4000</timerT2>
			<maxRedirects>70</maxRedirects>
			<remotePartyID>true</remotePartyID>
			<userInfo>None</userInfo>
		</sipStack>
		<autoAnswerTimer>1</autoAnswerTimer>
		<autoAnswerAltBehavior>false</autoAnswerAltBehavior>
		<autoAnswerOverride>true</autoAnswerOverride>
		<transferOnhookEnabled>false</transferOnhookEnabled>
		<enableVad>false</enableVad>
		<preferredCodec>g711ulaw</preferredCodec>
		<dtmfAvtPayload>101</dtmfAvtPayload>
		<dtmfDbLevel>3</dtmfDbLevel>
		<dtmfOutofBand>avt</dtmfOutofBand>
		<alwaysUsePrimeLine>false</alwaysUsePrimeLine>
		<alwaysUsePrimeLineVoiceMail>false</alwaysUsePrimeLineVoiceMail>
		<kpml>3</kpml>
		<phoneLabel>cp-3905</phoneLabel>
		<stutterMsgWaiting>2</stutterMsgWaiting>
		<callStats>false</callStats>
		<offhookToFirstDigitTimer>15000</offhookToFirstDigitTimer>
		<silentPeriodBetweenCallWaitingBursts>10</silentPeriodBetweenCallWaitingBursts>
		<disableLocalSpeedDialConfig>false</disableLocalSpeedDialConfig>
		<startMediaPort>16384</startMediaPort>
		<stopMediaPort>32766</stopMediaPort>		
		<sipLines>
			<line button="1">
				<name>$telExtention</name>
				<displayName>$telDisplayName</displayName>
				<authName>$telExtention</authName>
				<authPassword>$telPasswd</authPassword>
				<contact>$telExtention</contact>
				<autoAnswer>
					<autoAnswerEnabled>2</autoAnswerEnabled>
				</autoAnswer>
				<callWaiting>3</callWaiting>
				<sharedLine>false</sharedLine>
				<messageWaitingLampPolicy>1</messageWaitingLampPolicy>
				<messagesNumber>*97</messagesNumber>
				<ringSettingIdle>4</ringSettingIdle>
				<ringSettingActive>5</ringSettingActive>
				<forwardCallInfoDisplay>
					<callerName>true</callerName>
					<callerNumber>false</callerNumber>
					<redirectedNumber>false</redirectedNumber>
					<dialedNumber>true</dialedNumber>
				</forwardCallInfoDisplay>				
			</line>
		</sipLines>
		<dialTemplate>dialplan.xml</dialTemplate>
	</sipProfile>
	<commonProfile>
		<phonePassword></phonePassword>
		<backgroundImageAccess>true</backgroundImageAccess>
		<callLogBlfEnabled>2</callLogBlfEnabled>
	</commonProfile>	
	<loadInformation>CP3905.9-4-1-0</loadInformation>
	<vendorConfig>
		<disableSpeaker>false</disableSpeaker>
		<disableSpeakerAndHeadset>false</disableSpeakerAndHeadset>
		<pcPort>0</pcPort>
		<settingsAccess>1</settingsAccess>
		<garp>0</garp>
		<voiceVlanAccess>0</voiceVlanAccess>
		<videoCapability>0</videoCapability>
		<autoSelectLineEnable>0</autoSelectLineEnable>
		<webAccess>0</webAccess>
		<daysDisplayNotActive>1,7</daysDisplayNotActive>
		<displayOnTime>09:00</displayOnTime>
		<displayOnDuration>10:30</displayOnDuration>
		<displayIdleTimeout>01:00</displayIdleTimeout>
		<spanToPCPort>1</spanToPCPort>
	</vendorConfig>
	<versionStamp></versionStamp>
	<deviceSecurityMode>1</deviceSecurityMode>
	<idleTimeout>0</idleTimeout>
	<authenticationURL></authenticationURL>
	<directoryURL></directoryURL>
	<idleURL></idleURL>
	<informationURL></informationURL>
	<messagesURL></messagesURL>
	<proxyServerURL></proxyServerURL>
	<servicesURL></servicesURL>
	<dscpForSCCPPhoneConfig>96</dscpForSCCPPhoneConfig>
	<dscpForSCCPPhoneServices>0</dscpForSCCPPhoneServices>
	<dscpForCm2Dvce>96</dscpForCm2Dvce>
	<transportLayerProtocol>2</transportLayerProtocol>
	<capfAuthMode>0</capfAuthMode>
	<capfList>
		<capf>
			<phonePort>3804</phonePort>
			<processNodeName>adr-pbx02</processNodeName>
		</capf>
	</capfList>
	<certHash></certHash>
	<encrConfig>false</encrConfig>
</device>